install:
  - hostname
  - hostname -f
  - pwd
  - ls -lah
  - sudo apt-get -qq update
  - sudo apt-get install -y python-pip python-pandas
  - sudo pip install openpyxl
  - |
    sudo apt-get install -y gcc \
      flex \
      bison \
      libssl-dev \
      libdb-dev \
      linux-source \
      perl \
      make \
      autoconf \
      linux-headers-$(uname -r) \
      zip \
      openssl \
      automake \
      autoconf \
      patch \
      g++
  - wget http://www.orangefs.org/downloads/LATEST/source/orangefs-2.9.3.tar.gz
  - tar -xzf orangefs-2.9.3.tar.gz
  - cd orangefs-2.9.3
  - |
    ./configure \
      --prefix=/opt/orangefs \
      --with-kernel=/lib/modules/$(uname -r)/build
  - make -j$(nproc)
  - make kmod
  - sudo make install
  - sudo make kmod_prefix=/opt/orangefs kmod_install
  - cd -
  - pwd
  - ls -lahR /opt/orangefs

before_script:
  - mkdir ~/storage
  - sudo mkdir /mnt/orangefs
  - sudo insmod /opt/orangefs/lib/modules/$(uname -r)/kernel/fs/pvfs2/pvfs2.ko
  - sudo bash -c 'echo "tcp://$(hostname):3334/orangefs /mnt/orangefs pvfs2 defaults,noauto 0 0" > /etc/pvfs2tab'
  - cat /etc/pvfs2tab
  - |
    /opt/orangefs/bin/pvfs2-genconfig \
      --protocol tcp \
      --ioservers $(hostname) \
      --metaservers $(hostname) \
      --tcpport 3334 \
      --storage /home/travis/storage/data \
      --metadata /home/travis/storage/meta \
      --logfile /home/travis/storage/orangefs-server.log \
      --quiet \
      /home/travis/storage/orangefs-server.conf
  - cat /home/travis/storage/orangefs-server.conf
  - /opt/orangefs/sbin/pvfs2-server /home/travis/storage/orangefs-server.conf -f
  - sleep 3
  - /opt/orangefs/sbin/pvfs2-server /home/travis/storage/orangefs-server.conf
  - sleep 3
  - sudo /opt/orangefs/sbin/pvfs2-client
  - sleep 3
  - pgrep -l pvfs2
  - sudo mount -t pvfs2 tcp://$(hostname):3334/orangefs /mnt/orangefs
  - ls -lahR /mnt/orangefs

script:
  - make
  - sudo make install
  - sudo ./test/utils/mktree.py /mnt/orangefs 10
  - sudo /usr/local/sbin/orangefs-purge-user-dirs.sh -a /mnt/orangefs
  - sudo ls -lahR /var/log/orangefs-purge
  - cat /var/log/orangefs-purge/*/orangefs-purge-logs2df.out
  - cat /var/log/orangefs-purge/*/orangefs-purge-logs2df.err
