language: c
sudo: required

env:
  global:
    - OFS_URL_P0='https://s3.amazonaws.com/download.orangefs.org/releases/'
    - OFS_URL_P1='/source/orangefs-'
    - OFS_URL_P2='.tar.gz'
  matrix:
    - USING_PINT_MALLOC=0 OFS_RELEASE=2.9.3
    - USING_PINT_MALLOC=0 OFS_RELEASE=2.9.5
    - USING_PINT_MALLOC=0 OFS_RELEASE=2.9.6
    - USING_PINT_MALLOC=1 OFS_RELEASE=2.9.3
    - USING_PINT_MALLOC=1 OFS_RELEASE=2.9.5
    - USING_PINT_MALLOC=1 OFS_RELEASE=2.9.6

addons:
  apt:
    packages:
    - gcc
    - flex
    - bison
    - libssl-dev
    - libdb-dev
    - linux-source
    - perl
    - make
    - autoconf
    - linux-headers-$(uname -r)
    - zip
    - openssl
    - automake
    - autoconf
    - patch
    - g++
    - libldap-2.4-2
    - libldap2-dev
    - libattr1-dev
    - python-pip

install:
  - hostname
  - hostname -f
  - pwd
  - ls -lah
  #- sudo apt-get -qq update
  #- sudo apt-get install -y python-pip
  - sudo pip install pandas openpyxl
  #- sudo apt-get install -y linux-headers-$(uname -r)
  - wget "${OFS_URL_P0}${OFS_RELEASE}${OFS_URL_P1}${OFS_RELEASE}${OFS_URL_P2}"
  - tar -xzf orangefs-${OFS_RELEASE}.tar.gz
  - cd orangefs-${OFS_RELEASE}
  - |
    ./configure \
      --prefix=/opt/orangefs \
      --with-kernel=/lib/modules/$(uname -r)/build
  - make -j$(nproc)
  - make kmod
  - sudo make install
  - sudo make kmod_prefix=/opt/orangefs kmod_install
  - cd -
  - pwd
  - ls -lahR /opt/orangefs

before_script:
  - mkdir ~/storage
  - sudo mkdir /mnt/orangefs
  - sudo insmod /opt/orangefs/lib/modules/$(uname -r)/kernel/fs/pvfs2/pvfs2.ko
  - sudo bash -c 'echo "tcp://$(hostname):3334/orangefs /mnt/orangefs pvfs2 defaults,noauto 0 0" > /etc/pvfs2tab'
  - cat /etc/pvfs2tab
  - |
    /opt/orangefs/bin/pvfs2-genconfig \
      --protocol tcp \
      --ioservers $(hostname) \
      --metaservers $(hostname) \
      --tcpport 3334 \
      --storage /home/travis/storage/data \
      --metadata /home/travis/storage/meta \
      --logfile /home/travis/storage/orangefs-server.log \
      --quiet \
      /home/travis/storage/orangefs-server.conf
  - cat /home/travis/storage/orangefs-server.conf
  - /opt/orangefs/sbin/pvfs2-server /home/travis/storage/orangefs-server.conf -f
  - sleep 3
  - /opt/orangefs/sbin/pvfs2-server /home/travis/storage/orangefs-server.conf
  - sleep 3
  - sudo /opt/orangefs/sbin/pvfs2-client
  - sleep 3
  - pgrep -l pvfs2
  - sudo mount -t pvfs2 tcp://$(hostname):3334/orangefs /mnt/orangefs
  - ls -lahR /mnt/orangefs

script:
  - make
  - sudo make install
  - sudo ./test/utils/mktree.py /mnt/orangefs 150
  - sudo /usr/local/sbin/orangefs-purge-user-dirs.sh -a /mnt/orangefs
  - sudo ls -lahR /var/log/orangefs-purge
  - sudo find /var/log/orangefs-purge -type f -exec cat {} \;
